<p class="font-bold text-lg">Comments</p>
<% commentable.comments.each do |comment| %>
  <div>
    <%= comment.body %>
    <% comment.comments.each do |comment| %>
      <div>
        <%= comment.body %>
      </div>
    <% end %>
  </div>
<% end %>
