<p class="font-bold text-lg">Comments</p>
<% commentable.comments.each do |comment| %>
  <div>
    <%= comment.body %>
  <%#  <%= render "comments/reply_form", comment: @comment  %>
  </div>
<% end %>